RKM_to_pinecone.json
{
  "name": "RKM to pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FymmhEaxSyQlxSjW35EJrk9NO8_kP68-",
          "mode": "list",
          "cachedResultName": "RKMHoldingsInvestor",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FymmhEaxSyQlxSjW35EJrk9NO8_kP68-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -200
      ],
      "id": "a19d7a88-a840-4fbc-9c8c-34c8dad271c4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "18Rau3as1VYo1gQH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        -200
      ],
      "id": "c43580f8-a46a-41dc-8705-7d16998dd334",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "18Rau3as1VYo1gQH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rkminvestors",
          "mode": "list",
          "cachedResultName": "rkminvestors"
        },
        "embeddingBatchSize": 500,
        "options": {
          "pineconeNamespace": "knowledgebase"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -180,
        -200
      ],
      "id": "89df0424-9828-439f-a05d-6122207463f2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AqGGItvxQCHu7EAH",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -360,
        20
      ],
      "id": "351377b2-dc1e-4398-86a4-166063b2ad5e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "HSxLxgAlMdcBQ0NV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -40,
        20
      ],
      "id": "acbd67aa-a440-48ce-8fe4-59dc5b3ee7c0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -180,
        180
      ],
      "id": "7a32f811-5699-4317-9f36-a0c62b5c8027",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "abc422f3-13e9-4269-8eb7-1805b680a8f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfab1a970d3e1682304211395ef29c43aebb65d30d786c8c0a49e56fd5ed121a"
  },
  "id": "VFBwbttibdebO2HW",
  "tags": []
}